.order-details {
    background-color: #FFFFFF;
    padding: 1.5rem 2rem;
    font-size: 15px;
}
.font-bold {
    font-weight: bold;
    
}
.font-light {
    font-weight: lighter;
}

.total-price{
    color: #4DA8FC;
}

.status {
    font-size: 13px;
}

.order-items{
    font-size: 13px;
    font-weight: normal;
    
}