<p *ngIf="!products.length">No products available.</p>

<!-- Display the product list if no product is selected -->
<div *ngIf="!selectedProduct && products.length" class="products-container">
  <app-display-product 
    *ngFor="let product of products" 
    [product]="product" 
    (click)="selectProduct(product)">
  </app-display-product>
</div>

<!-- Show only the detailed product view when a product is selected -->
<div *ngIf="selectedProduct" class="product-detail-container">
  <!-- <button (click)="backToProducts()">Back to Products</button> -->
  <app-item [product]="selectedProduct"></app-item>
</div>
