<div class="card card-style" style="width: 18rem; padding: 10px;">
  <img class="card-img-top" [src]="product.imageUrl || 'assets/img/theme/sketch.jpg'" alt="Product image" style="width: 200px; height: 200px;">
  
  <!-- Display Product Name -->
  <div>
    <h5 class="card-title">{{ product.name }}</h5>
  </div>

  <!-- Variant Selection -->
  <div class="d-flex flex-wrap mb-3">
    <div
      *ngFor="let variantItem of variantsWithSet"
      class="variant-square btn-primary"
      [ngClass]="{'selected': selectedVariant === variantItem}" 
      (click)="selectVariant(variantItem)">
      {{ variantItem.name }}
    </div>
  </div>

  <!-- Display price and sizes for the selected variant -->
  <div *ngIf="selectedVariant && selectedVariant.name !== 'Set'">
    <!-- Display price of the selected variant -->
    <p class="mt-2">Price: {{ selectedVariant.price | currency }}</p>

    <!-- Loop through the sizes of the selected variant -->
    <div class="d-flex flex-wrap">
      <div 
        *ngFor="let size of selectedVariant.sizes" 
        class="size-square"
        [ngClass]="{'out-of-stock': size.quantity === 0, 'selected-size': selectedSize === size, 'selected': selectedSize === size}"
        (click)="selectSize(size)">
        {{ size.name }}
      </div>
    </div>

    <!-- Display available quantity for the selected size -->
    <div *ngIf="selectedSize && selectedVariant.name !== 'Set'">
      <p *ngIf="selectedSize.quantity === 0" class="text-danger">Out of stock</p>
      <p *ngIf="selectedSize.quantity > 0" class="text-dark">Available: {{ selectedSize.quantity }}</p>
    </div>

    <!-- Quantity controls for non-set variants -->
    <div class="quantity-container" *ngIf="selectedSize && selectedSize.quantity > 0 && selectedVariant.name !== 'Set'">
      <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
      <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
      <button class="quantity-button btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
    </div>
  </div>

  <!-- Display price and quantity controls for products without size -->
<div *ngIf="selectedVariant && !selectedVariant.sizes">
  <!-- <p class="mt-2">Price: {{ selectedVariant.price | currency }}</p> -->
  <!-- Quantity controls for products without size -->
  <div class="quantity-container" *ngIf="selectedVariant">
    <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
    <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
    <button class="quantity-button btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
  </div>
</div>

  <!-- Display price and sizes for the "Set" variant -->
  <div *ngIf="selectedVariant && selectedVariant.name === 'Set'">
    <p class="mt-2">Price: {{ totalSetPrice | currency }}</p>
    <div class="d-flex flex-wrap">
      <div
        *ngFor="let size of availableSetSizes" 
        class="size-square"
        [ngClass]="{'out-of-stock': !size.available, 'selected-size': selectedSize === size, 'selected': selectedSize === size}"
        (click)="selectSize(size)">
        {{ size.name }}
      </div>
    </div>

    <!-- Display available quantity for the selected size within the set -->
    <div *ngIf="selectedSize && selectedVariant.name === 'Set'">
      <p *ngIf="selectedSize.quantity === 0" class="text-danger">Out of stock</p>
      <p *ngIf="selectedSize.quantity > 0" class="text-dark">Available: {{ selectedSize.quantity }}</p>
    </div>

    <!-- Quantity controls for set variant -->
    <div class="quantity-container" *ngIf="selectedSize && selectedSize.quantity > 0 && selectedVariant.name === 'Set'">
      <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
      <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
      <button class="quantity-button  btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
    </div>
  </div>

  <!-- Purchase and Add to Cart Buttons -->
  <div class="buy-buttons mt-3">
    <button class="btn btn-primary" id="addToCart" (click)="addToCart()" >Add to Cart</button>
    <button class="btn btn-primary" id="purchase" >Purchase</button>
  </div>
</div>
