<div class="card container" style="margin-top: 40px;" >
  <div class="row" style="padding: 20px;">
    <div  class="col-md border border-dark rounded box">
      <img  [src]="product.imageUrl || 'assets/img/theme/sketch.jpg'" alt="Product image" style="width: 100%; height: auto; object-fit: cover;">
    </div>
 
  <!-- Image on the left side -->
  

  <!-- Product details on the right side -->
  <div class="col-md box" >
    <!-- Display Product Name -->
    <div class="row " style="padding: 10px;"  >
      <h5 class="card-title">{{ product.name }}</h5>
    </div>

    <!-- Variant Selection -->
    <div class="row d-flex flex-wrap mb-3">
      <div
        *ngFor="let variantItem of variantsWithSet"
        class="variant-square btn-primary"
        [ngClass]="{'selected': selectedVariant === variantItem}" 
        (click)="selectVariant(variantItem)">
        {{ variantItem.name }}
      </div>
    </div>

    <!-- Display price and sizes for the selected variant -->
    <div *ngIf="selectedVariant && selectedVariant.name !== 'Set'">
      <!-- Display price of the selected variant -->
      <p class="row mt-2">Price: {{ selectedVariant.price | currency }}</p>

      <!-- Loop through the sizes of the selected variant -->
      <div class="row d-flex flex-wrap">
        <div 
          *ngFor="let size of selectedVariant.sizes" 
          class="size-square"
          [ngClass]="{'out-of-stock': size.quantity === 0, 'selected-size': selectedSize === size, 'selected': selectedSize === size}"
          (click)="selectSize(size)">
          {{ size.name }}
        </div>
      </div>

      <!-- Display available quantity for the selected size -->
      <div class="row" *ngIf="selectedSize && selectedVariant.name !== 'Set'">
        <p *ngIf="selectedSize.quantity === 0" class="text-danger">Out of stock</p>
        <p *ngIf="selectedSize.quantity > 0" class="text-dark">Available: {{ selectedSize.quantity }}</p>
      </div>

      <!-- Quantity controls for non-set variants -->
      <div class="row quantity-container" *ngIf="selectedSize && selectedSize.quantity > 0 && selectedVariant.name !== 'Set'">
        <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
        <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
        <button class="quantity-button btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
      </div>
    </div>

    <!-- Display price and quantity controls for products without size -->
    <div *ngIf="selectedVariant && !selectedVariant.sizes && selectedVariant.name !== 'Set'">
      <div class="row quantity-container" *ngIf="selectedVariant">
        <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
        <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
        <button class="quantity-button btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
      </div>
    </div>

    <!-- Display price and sizes for the "Set" variant -->
    <div *ngIf="selectedVariant && selectedVariant.name === 'Set'">
      <p class="mt-2">Price: {{ totalSetPrice | currency }}</p>
      <div class="row d-flex flex-wrap">
        <div
          *ngFor="let size of availableSetSizes" 
          class="size-square"
          [ngClass]="{'out-of-stock': !size.available, 'selected-size': selectedSize === size, 'selected': selectedSize === size}"
          (click)="selectSize(size)">
          {{ size.name }}
        </div>
      </div>

      <!-- Display available quantity for the selected size within the set -->
      <div class="row" *ngIf="selectedSize && selectedVariant.name === 'Set'">
        <p *ngIf="selectedSize.quantity === 0" class="text-danger">Out of stock</p>
        <p *ngIf="selectedSize.quantity > 0" class="text-dark">Available: {{ selectedSize.quantity }}</p>
      </div>

      <!-- Quantity controls for set variant -->
      <div class=" row quantity-container" *ngIf="selectedSize && selectedSize.quantity > 0 && selectedVariant.name === 'Set'">
        <button class="quantity-button btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">-</button>
        <input class="quantity-input" type="number" [value]="quantity" [max]="maxQuantity" readonly />
        <button class="quantity-button  btn btn-secondary" (click)="increaseQuantity()" [disabled]="quantity >= maxQuantity">+</button>
      </div>
    </div>

    <!-- Purchase and Add to Cart Buttons -->
    <div class="row buy-buttons mt-3">
      <button class="btn btn-primary" id="addToCart" (click)="addToCart()">Add to Cart</button>
      <button class="btn btn-primary" id="purchase">Purchase</button>
    </div>
  </div>
</div>
</div>
