@for(notificationObj of unReadNotificationArr; track notificationObj; let last =
$last;) {
<a class="dropdown-item">
  <div (click)="markAsRead(notificationObj.id)">
    <div class="notification" [class.unread]="notificationObj.read == false">
      <h4>{{ notificationObj.title }}</h4>
      <p>{{ notificationObj.message }}</p>
      <span>{{ notificationObj.timestamp | date }}</span>
    </div>
  </div>
</a>
@if(!last){
<div class="dropdown-divider"></div>
} } @if(unReadNotificationArr.length == 0) {
<a class="dropdown-item">
  <div>You have no new notification</div>
</a>

}
<!-- <div *ngFor="let notification of users.notification  | async" (click)="markAsRead(notification.id)">
  <div class="notification" [class.unread]="notification.status === 'unread'">
    <h4>{{ notification.title }}</h4>
    <p>{{ notification.message }}</p>
    <span>{{ notification.timestamp | date }}</span>
  </div>
</div> -->
