/* You can add global styles to this file, and also import other style files */
.pending-status {
  color: #ff490f;
}

.confirmed-status {
  color: #01b44f;
}

.awaiting-confirmation-status {
  color: #ff490f;
}

.invalid-payment-status {
  color: #f5365c;
}

.completed-status {
  color: #11cdef;
}
